
<h1>Create Advertisement</h1>
<p>You can change this at any time by logging in</p>
<%= session[:advertiser_id] %>



	<%= form_for @advertiser do |f| %>

	<p>
		<%= f.label :business_name %>
		<%= f.text_field :business_name %>
	</p>
	<p>
		<%= f.label :advertisement %>
		<%= f.text_field :advertisement %>
	</p>
	<p>
		<%= f.label :url %>
		<%= f.text_field :url %>
	</p>
	<% end %>


	<h1>you've hit the admin_panel action in the sessions controller</h1>